/* RESET SEDERHANA */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* AKHIR RESET SEDERHANA */

/* CARD */
.card-content {
  width: 25rem;
  margin: 60px auto;
  border: 1px solid black;
  border-radius: 20px;
}

.img-product {
  text-align: center;
  padding-top: 2.5rem;
}

.img-product img {
  border-radius: 20px;
  width: 15rem;
}

.product-count {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.product-count button {
  border-radius: 20px;
  width: 2rem;
}

button:hover {
  cursor: pointer;
}

.barang {
  width: 10rem;
  height: 2rem;
  border: 1px solid rgb(219, 38, 38);
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 20px;
}
/* AKHIR CARD */
